<!-- Custom Code Starts -->
<div class="available-offer">
<h4><img src="https://cdn.shopify.com/s/files/1/0812/3639/4295/files/Tick.png?v=1707473854"> 2 Offers Available</h4>
</div>
<div class="badge-container">
<p><span class="offerheadline">EXTRA 10% OFF</span> - Use Code <strong> "NEW10"</strong></p>
</div>
<div class="badge-container">
<p><span class="offerheadline">GET 5% OFF</span> - Additional 5% OFF on<strong> PREPAID ORDERS</strong></p>
</div>
<style>
.badge-container{
display:inline-flex;
flex-wrap:wrap;
align-content:space-around;
background: #cef8e4;
border-radius:5px;
padding: 10px 1em;
min-width: calc(100% - 0px);
align-items: center;
line-height: 1.3;
height: fit-content;
margin: 5px 0;
}
.offerheadline{
color: #fff;
background-color: #039910;
padding: 2px 5px;
margin: 0.5rem 0 0;
width: fit-content;
font-family:roboto;
line-height: 1.3;
font-weight:600;
font-size: calc(100% - 2px);
}
.available-offer h4{
margin-bottom: 0;
}
.available-offer p{
font-family:roboto;
}
.available-offer h4{
font-family:roboto;
/* color:#dc3f45; */
color:black;
padding:10px;
font-weight: 700;
}
.available-offer img{
width:20px;
padding:0;
margin-bottom: 4px;
}
</style>
<!-- Custom Code End -->